[Unit]
Description=wifi-offload-concentrator-v4
After=network-online.target

[Service]
ExecStart=/root/wi-oc/wifi-offload-concentrator-4.sh

[Install]
WantedBy=default.target
