[Unit]
Description=wifi-offload-concentrator-v6
After=network-online.target

[Service]
ExecStart=/root/wi-oc/wifi-offload-concentrator-6.sh

[Install]
WantedBy=default.target
